@charset "utf-8";
header, nav, main, footer {
    margin: 3rem auto;
    max-width: 700px;
}

header, footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: #00001e;
    padding: 1rem;
    text-align: center;

}

h1 {
    font-size: 1.5em;
    margin:0.15rem;
    color: #D3D3D3;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
}

.mainpicture {
    width: 150px;
    height: 200px;
    
}

.footerstyle {
    color: #D3D3D3;
}

.lastupdate {
    color:  #FFA500;
}
