
/*----------- Small Structure --------------*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a:link {
  color: #585555;
}

/* body rules */
body {
  font-family: Montserrat;
  font-size: 16px;
}
p {
  font-size: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  padding: 1%;
}
h2 {
  padding-top: 3%;
  text-align: center;
}

footer {
  background: rgb(209,138,5);
  background: radial-gradient(circle, rgba(209,138,5,1) 0%, rgba(170,53,9,0.8069728135394783) 100%);
  padding: 1rem;
  text-align: right;
  color: #D3D3D3;
}

.wrapper li {
  list-style: none;
  margin: 5px 10px;
  display: inline-block;
  font-size: 30px;
  padding: 5px 5px;
  border-radius: 50%;
  transition: .5s;
}

.wrapper i:hover {
  color: white;
  border: 1px solid white;
  transition: .5s;
}


/* Informacion Home Page */
.welcomeimage {
  display: block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

/*caja flotante*/
.herodiv {
  display: none;
}


/*----- Forecast -----*/
#forecast {
  display: none;
}
/* fin */

/* Informacion de renta */
.caja {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.caja section h2 {
  color: black;
}

.caja section li {
  color: black;
  text-align: center;
  padding: 1%;
}

.caja section {
  margin: 0.5rem;
  border: 1px solid #00001e;
  padding: 0 1rem;
  background-color: #58555515;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 3%;
  padding-bottom: 3%;
}/* fin */

/* boton de Accion */
.boton {
  display: flex;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 220px;
  margin: auto;
  }
.boton a{ 
  text-decoration: none;
  border: 4px solid #D18A05;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  transition:backgrond .5s,color 1s;
  font-family: Bungee Shade;
  font-size: 30px;
  color: black;
  text-align: center;

}
.boton a:hover{
  background: #D18A05;
  color: white;
}

/* Responsive Nav and Logo */
.logo-box {
  float: left;
  margin-left: 20px;
}

nav {
  height: 80px;
  width: 100%;
  background: rgb(209,138,5);
  background: radial-gradient(circle, rgba(209,138,5,1) 0%, rgba(170,53,9,0.8069728135394783) 100%);
}

nav ul{
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,a:hover {
  border: 1px solid white;
  transition: .5s;
}
nav #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
} /* end of Responsive Nav and Logo */

/*----- Reservations Form -----*/

.container {
  max-width: 400px;
}

#contact {
  background: #58555515;
  padding: 25px;
  margin: auto;
}

#contact h3 {
  color: #00001e;
  text-align: center;
}

#contact legend {
  display: block;
  font-size: 1.2rem;
  padding-top: 7%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

form label.top input,
form label.top select,
form label.top textarea {
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 80%;
  background-color: white;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="number"],
#contact textarea {
  max-width: 80%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="number"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 80%;
  resize: none;
}

.submit {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  border: 4px solid #D18A05;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  transition:backgrond .5s,color 1s;
  color: black;
  text-align: center;
  margin-left: auto;
  margin: auto;
}

.submit:hover {
  background: #D18A05;
  color: white;
}

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*----- Rent Website -----*/

div.Rent{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
div.Rent p{
  text-align: center;
}
div.Rent section{
  padding: 10px;
  background-color: #58555515;
  margin-top: 1em;
}
div.Rent img{
  display: block;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 2%;
}


#google-maps {
  display: none;
}

#google-maps h2,
h3 {
  color: #00001e;
}

#map-info {
  text-align: center;
  }

  /* Tour Website*/
.tour {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.tour section h2 {
  color: black;
}

.tour section li {
  color: black;
  text-align: center;
  padding: 1%;
}

.tour section {
  margin: 0.5rem;
  border: 1px solid #00001e;
  padding: 0 1rem;
  background-color: #58555515;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 3%;
  padding-bottom: 3%;
}/* fin */