/*----- Structure Template -----*/
* {
    box-sizing: border-box;
}

main,
footer {
    margin: auto;
    color: #00001e;
    text-align: justify;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: #00001e;
    padding: 1rem;
    text-align: center;
    color: #D3D3D3;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00001e;
    padding: 10px 0px;

}

header img {
    width: 90px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
}

header h1,
.titulo {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #D3D3D3;
}

/*----- Subtitulo -----*/
h2 {
    text-align: center;
    text-shadow: 3px 3px 5px #777;
    margin: 0;
    font-size: 2rem;
}

/*----- Banner at the top -----*/
#pancakebanner {
    background-color: #FFA500;
    color: #00001e;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/*----- Nav Menu -----*/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFA500;
    /*color del boton*/
}

nav {
    background-color: #00001e;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FFA500;
    /*color de las letras del titulo*/
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    background-color: rgba(138, 95, 30, 0.4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul.hide {
    display: none;
}

/*----- Imagen Principal -----*/
.herodiv img {
    max-width: 100%;
    box-shadow: 0 0 25px #00001e;
}

/*----- Cuadro Flotante -----*/
/*posicion del cuadro flotante*/
.herodiv {
    position: relative;
}
/*Transparencia del cuadro flotante*/
.stats {
    position: absolute;
    top: 10px;
    left: 10px;
    background: radial-gradient(#FFA500, #00001e41);
    box-shadow: 0 0 25px #00001e;
    opacity: .8;
    font-size: .5rem;
    padding: 1%;
}
/*Titulo dentro del cuadro*/
.stats h3 {
    text-align: center;
    text-shadow: 3px 3px 5px #777;
    color: #fff;
    margin: 0;
    font-size: 1.6rem;
}
/*Info dentro del cuadro*/
.stats p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: #fff;
    text-align: left;
}

/*----- Forecast -----*/
section #forecast-box {
    display: none;
}

/*----- Article -----*/
#article {
    margin: 20px;
    margin-top: auto;
}
/*Imagen dentro del articulo*/
#store-image {
    display: block;
    max-width: 100%;
    border-radius: 25px;
}

/*----- Location -----*/
#google-maps {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
#google-maps h2, h3{
    color: #00001e;
 }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
