/*----- Structure Template -----*/
* {
    box-sizing: border-box;
}

main,
footer {
    margin: auto;
    color: #00001e;
    text-align: justify;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: #00001e;
    padding: 1rem;
    text-align: center;
    color: #D3D3D3;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00001e;
    padding: 10px 0px;

}

header img {
    width: 90px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
}

header h1,
.titulo {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #D3D3D3;
}

/*----- Banner at the top -----*/
#pancakebanner {
    background-color: #FFA500;
    color: #00001e;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

/*----- Nav Menu -----*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #FFA500;
    /*color del boton*/
}

nav {
    background-color: #00001e;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FFA500;
    /*color de las letras del titulo*/
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    background-color: rgba(138, 95, 30, 0.4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul.hide {
    display: none;
}

/*----- Form -----*/

body {
    font-family: Ububtu, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: rgb(5, 5, 5);

}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="number"],
#contact textarea,
#contact button[type="submit"] {
    font-family: Ubuntu, sans-serif;
}

#contact {
    background: rgba(255, 166, 0, 0.582);
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #00001e;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0 0 10px;
}

#contact legend {
    display: block;
    font-size: 1.3rem;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

label {
    font-size: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(148, 139, 68, 0.1);
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="number"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="number"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #00001e;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


/*----- Slider-----*/


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}