@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic);

body {
  margin: 30px;
  background: #ECEAE3;
  font-family: Ubuntu, sans-serif;
}
.invoice {
  margin: 100px auto;
  width: 600px;
}
/*----- Estructura de tabla -----*/
table {
	border-collapse: separate;
	border-spacing: 0;
	background-color: rgba(114, 167, 197, 0.747);
	text-align: center;
	width: 100%;
  }
  /*----- Bordes Columnas -----*/
  table tr th,
  table tr td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	box-shadow: 2px 2px 1px #e5dfcc;
  }
/*----- Tamano Columnas -----*/
th, td{
	padding: 15px 30px;
  }

/*----- Color titulo -----*/
thead{
	background-color: rgb(20, 40, 51);
	border-bottom: solid 5px #0F362D;
	color: white;
}
/*----- Color diferente entre celdas -----*/
tr:nth-child(even){
	background-color: rgba(155, 248, 212, 0.404);
}
/*----- Hover -----*/
tr:hover td{
	background-color: #369681;
	color: white;
}




