@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic);

body {
  margin: 30px;
  background: #ECEAE3;
  font-family: Ubuntu, sans-serif;
}
.invoice {
  margin: 100px auto;
  width: 600px;
}

caption {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
	box-shadow: 10px 10px 15px #5e9097;
	border: 2px solid #cfcfcf; 
 }
/*----- Titulo y Final  -----*/
thead tr:first-child {
    background-color: #7fb9c2;
    font-size: 1.75em;
}
thead tr:last-child {
    background-color: #628ca6;
    color: white;
    font-size: 1.10em;
}
/*----- Estructura de tabla -----*/
table {
	border-collapse: separate;
	border-spacing: 0;
	background-color: rgba(114, 167, 197, 0.747);
	text-align: center;
	width: 100%;
	box-shadow: 10px 10px 15px #5e9097
  }
  /*----- Bordes Columnas -----*/
  table tr th,
  table tr td {
    border: 2px solid #cfcfcf;
    border-collapse: collapse;
  }
/*----- Tamano Columnas -----*/
th, td{
	padding: 10px;
  }

/*----- Color titulo -----*/
thead{
	background-color: rgb(20, 40, 51);
	border-bottom: solid 5px #0F362D;
	color: white;
}
/*----- Color diferente entre celdas -----*/
tr:nth-child(even){
	background-color: rgba(155, 248, 212, 0.404);
}
/*----- Hover -----*/
tr:hover td{
	background-color: #369681;
	color: white;
}




