main,
footer {
    margin: auto;
    max-width: 950px;
    color: white;
    text-align: justify;
}

header,
footer {
    font-family: 'Ubuntu', sans-serif;
    background-color: #00001e;
    padding: 1rem;
    text-align: center;
}

main section {
    margin: 0.5rem;
    border: 1px solid #00001e;
    padding: 0 1rem;
    background-color: #FFA500;
}

.logo-sample {
    box-shadow: 0 0 30px #999;
    border-radius: 0 10px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5em;
    margin: 0.15rem;
    color: #D3D3D3;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin: 0.15rem;
    color: #FFA500;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
}

.footerstyle {
    color: #D3D3D3;
}

/* Small View **************************/
main {
    max-width: 375px;
    margin: 0 auto;
    font-size: 0.8rem;
}

main section {
    background-color: #00001e;
}

main section h2 {
    color: white;
    font-family: Helvetica;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2rem;
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #00001e; /*color del boton*/ 
}

nav {
    background-color: #FFA500;
    font-family: Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #00001e; /*color de las letras del titulo*/ 
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul.hide {display: none;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* Medium View ******************************/
@media only screen and (min-width: 37.5em) {


/* Large View ****************************/
    @media only screen and (min-width: 60em) {
        main {
            max-width: 950px;
        }
        main section {
            background-color: #FFA500;
        }

        nav {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36454f+0,00001e+100 */
background: #36454f; /* Old browsers */
background: -moz-linear-gradient(top,  #36454f 0%, #00001e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #36454f 0%,#00001e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #36454f 0%,#00001e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36454f', endColorstr='#00001e',GradientType=0 ); /* IE6-9 */
        }
        
        nav button {display: none;}
        nav ul.hide {display: block;}
        nav ul {
            margin-left: 2%;
        }
        
        nav ul li {
            float: left;
        }
        
        nav ul li a {
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
            padding: .6rem 1rem;
            color: #FFA500;
        }

        h1 {
            font-size: 2.5em;
        }

        .logo-box {
            width= 25px;
            height= 25px;
            box-shadow: 0 0 30px #00001e;
            border-radius: 0 10px 0 0;
            float: left;
           
        }

        h2 {
            font-size: 2.5rem;
            color: #00001e;
        }