@media (min-width: 710px) {
    /*----- Structure Template -----*/
    main {
        max-width: 650px;
    }
    header {
        justify-content: center;
    }

    /*----- Nav Menu -----*/
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36454f+0,00001e+100 */
        background: #36454f;
        /* Old browsers */
        background: -moz-linear-gradient(top, #36454f 0%, #00001e 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #36454f 0%, #00001e 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #36454f 0%, #00001e 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36454f', endColorstr='#00001e', GradientType=0);
        /* IE6-9 */
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;
        color: #FFA500;
    }

    /*----- Index WebSite -----*/
    /*----- Index Page -----*/

    div.Town section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    div.townData p:nth-of-type(1){
        font-size: 0.85rem;
    }
    section:nth-child(even) img{
        grid-column: 1;
    }
    section:nth-child(even) .citiesData{
        grid-column: 2;
        grid-row: 1;
    }


    /*----- Gallery Webstie -----*/
    /*----- Images Medium View -----*/
    .lazy-load {
        grid-template-columns: 1fr 1fr;
    }


    /*Preston Website*/
    /*Transparencia del cuadro flotante*/
    .stats {
        position: absolute;
        top: 10px;
        left: 30px;
    }

    /*Titulo dentro del cuadro*/
    .stats h3 {
        font-size: 1.6rem;
    }

    /*----- Forecast -----*/
    #forecast {
        display: grid;
        text-align: center;
        color: #00001e;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
    }

    #forecast-box {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 15px;
        margin: auto;
        width: 600px;
    }

    .weather-images img {
        height: 100px;
    }

    /*----- Location -----*/

    #map {
        padding: 15px;
        margin: auto;
    }

    .map-pic {
        margin-top: 0;
        margin: auto;
        display: flex;
    }

    #google-maps {
        display: block;
        width: 50%;
    }

    #map-info {
        width: 50%;
    }

    /*Imagen dentro del articulo*/
    #store-image {
        height: 350px;
        float: left;
        padding: 2%;
    }

}